---
import Page from '../Page.astro';

interface Props {
  totalPages: number;
  tabLabel?: string;
}
const { totalPages, tabLabel } = Astro.props;
---

<Page pageNumber={7} totalPages={totalPages} tabLabel={tabLabel}>


  <Fragment slot="bg-front">
    <div class="absolute inset-0 w-full h-full bg-dark z-0 pointer-events-none overflow-hidden rounded-r-lg">
      <img 
        src="URL-DE-TA-PHOTO.jpg" 
        alt="L'orée Projet" 
        class="w-full h-full object-cover"
      />
    </div>
  </Fragment>

  <Fragment slot="front">
    <div class="relative z-10 h-full flex flex-col justify-between pt-4 md:pt-8 font-serif">
      <!-- Vide, juste l'image en fond -->
    </div>
  </Fragment>

  <Fragment slot="back">
    <div class="h-full flex flex-col">
      <div class="mb-8 min-h-[60px] back-divider-left">
        <h2 class="text-3xl font-serif font-bold text-primary mb-2">
          L'orée
        </h2>
        <div class="h-1 w-16 bg-primary"></div>
      </div>

      <div class="flex-grow flex flex-col justify-center items-center">
        <img 
          src="URL-DE-TON-IMAGE"
          alt="Projet Web"
          class="w-full rounded-2xl md:rounded-[2.5rem] shadow-sm object-cover border border-zinc-100"
        />
      </div>
    </div>
  </Fragment>

</Page>
